* {
  font-family: 'Space Mono', Avenir, Helvetica, Arial, sans-serif;

	--neutral-high: hsl(240, 30%, 5%);
	--neutral: hsl(240, 30%, 10%);
	--neutral-low: hsl(240, 30%, 15%);

	--contrast-high: hsl(240, 30%, 85%);
	--contrast: hsl(240, 20%, 70%);
	--contrast-low: hsl(240, 20%, 35%);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column;
	justify-content: stretch;
	align-items: stretch;
	background: var(--neutral);
}

h1, h2, h3, h4, h5, h6 p {
	margin: 0;
	color: var(--contrast);
	text-align: center;
}

a {
	text-decoration: none;
}